*{
	box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", serif;
}

.hero-header {
    background-image: url('./img/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.header_list{
    font-family: "Montserrat", serif;
}

.hero_div{
    font-family: "Lato" sans-serif "Open Sans" sans-serif;
}

.img{
    color: white;
}

.hover:img{
    color: white;
}